@rendermode @(new InteractiveServerRenderMode(prerender: false))
@* @inject BlazoredModalInstance Modal *@

<div style="overflow: auto; max-width: 80vw;">
    <img src="@imgSrc" />
</div>

@code {
    [CascadingParameter] BlazoredModalInstance Modal { get; set; } = default!;
    [Parameter] public string? imgSrc { get; set; }
}