
	<login-form>
		<div class="mb-3">
			<label for="inpid" class="form-label">Id#</label>
			<input id="inpid" type="number" class="form-control" @bind-value="_form.Id">
		</div>
		<div class="mb-3">
			<label for="inppwd" class="form-label">Password</label>
			<input id="inppwd" type="password" minlength="4" class="form-control" @bind-value="_form.Pwd">
		</div>
		<button class="btn btn-primary" @onclick="LoginMe">Login</button>
	</login-form>


@code {
	private readonly LgnPrms _form = new();
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

	public async Task LoginMe()
	{
		await BlazoredModal.CloseAsync(ModalResult.Ok(_form));
	}
	public async Task Cancel()
	{
		await BlazoredModal.CancelAsync();
		//await BlazoredModal.CloseAsync(ModalResult.Ok(_form.Id));
	}

}