@inject AppState my
@inject IDbCon db
@inject IModalService Modal

@if (tbl != null)
{
	<table>
		<caption style="background-color:cadetblue;color:white;font-family:monospace;min-width:max-content;padding:4px;">[@OOId.toSqid()] son aktivite zamanları</caption>
		@* <tr>
	<th>kişi</th>
	<th>zaman</th>
	</tr> *@
		@foreach (var r in tbl)
		{
			<tr>
				@if (r.UUId == 0)
				{
					<td class="ta-r">@r.UUAd</td>
					<td style="background-color:aquamarine">@r.OVTS.ToS(true)</td>
				}
				else
				{
					<td>@r.UUAd</td>
					<td>@r.OVTS.ToS(true)</td>
				}
			</tr>

		}
	</table>
}

@code {
	[Parameter]
	public int OOId { get; set; } = 0;
	private List<OU> tbl;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			using var conn = db.GetConnection();
			tbl = (await conn.QueryAsync<OU>("select * from OU_OVTS_QRY(@A,@B) order by OVTS",
				new { A = my.Id, B = OOId })
			).ToList();

		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}

	public sealed class OU
	{
		public int UUId;
		public string? UUAd;
		public DateTime? OVTS;
	}
}
