@inject AppState my
@inject IDbCon db
@inject IModalService Modal

@if (rr != null)
{
	<table style="min-width:340px;">
		<caption>
			<button @onclick="Kaydet">
				<span class="material-symbols-outlined">check</span>Periyodik Kaydet
			</button>
		</caption>
		<tbody>
			<tr>
				<td>id#</td>
				<td>@Idf()</td>
			</tr>
			<tr>
				<td>ad</td>
				<td><input type="text" maxlength="30" @bind="rr!.Ad" /></td>
			</tr>
			<tr>
				<td>pasif</td>
				<td><input type="checkbox" @bind="rr.isPsf" style="width:auto" /></td>
			</tr>
			<tr>
				<td>period</td>
				<td>
					<select @bind="rr.Prd" style="width:100%;">
						<option value="1">Yıllık</option>
						<option value="2">Aylık</option>
						<option value="3">Haftalık</option>
						<option value="4">Günlük</option>
						}
					</select>
				</td>
			</tr>

			<tr>
				<td colspan="2" class="lbl-top">sonraki planlanan başlangıç</td>
			</tr>
			<tr>
				<td>tarih</td>
				<td>
					<div class="trh">
						<div class="date">
							<input type="date"
								   @bind:event="onchange"
								   @bind:get="@rr.RSD"
								   @bind:set="CheckRSD" />
						</div>
						<div class="time">
							<input type="time"
								   @bind:event="onchange"
								   @bind:get="@rr.RSD"
								   @bind:set="CheckRSD" />
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td colspan="2" class="lbl-top">planlanan süre</td>
			</tr>
			<tr>
				<td>saat</td>
				<td><input type="number" min="1" @bind="rr.RPH" /></td>
			</tr>

			<tr>
				<td colspan="2" class="lbl-top">planlanandan ne kadar önce Talep eklensin</td>
			</tr>
			<tr>
				<td>saat</td>
				<td><input type="number" min="1" @bind="rr.ISH" /></td>
			</tr>

			<tr>
				<td>konu</td>
				<td>
					<div>
						<input type="text"
							   maxlength="30"
							   size="30"
							   list="TTL"
							   @bind="rr.TskAd"
							   @bind:event="onchange"
							   @bind:after="CheckTsk" />
					</div>
				</td>
			</tr>

			<tr>
				<td colspan="2" class="lbl-top">açıklama</td>
			</tr>
			<tr>
				<td colspan="2">
					<InputTextArea @bind-Value="rr.Inf"
								   rows="2"
								   style="min-width:100%; resize: both;" />
				</td>
			</tr>
			<tr>
				<td>sil</td>
				<td><input type="checkbox" @bind="rr.isDel" style="width:auto" /></td>
			</tr>
		</tbody>
	</table>

	<datalist id="TTL">
		@foreach (var r in ttd!)
		{
			<option value="@r.Key" />
		}
	</datalist>

}

@code {
	[CascadingParameter] BlazoredModalInstance ModalIns { get; set; } = default!;
	[Parameter] public int RRId { get; set; }
	private RR? rr = default;
	private Dictionary<string, int>? ttd;
	private bool isOK;

	private void CheckTsk()
	{
		if (ttd.TryGetValue(rr.TskAd, out var nid))
		{
			rr.TskId = nid;
		}
	}

	private void CheckRSD(DateTime? val)
	{
		DateTime min = DateTime.Now.AddHours(1);

		// Time part
		if (val.HasValue && rr!.RSD.HasValue && val.Value.TimeOfDay != TimeSpan.Zero)
			val = rr.RSD!.Value.Date.Add(val.Value.TimeOfDay);
		
		if (val == null || val < min)
			rr!.RSD = min;
		else
			rr!.RSD = val;
	}

	public async Task Kaydet()
	{
		try
		{
			using var conn = db.GetConnection();
			_ = conn.Execute("RR_MDF",
					new
					{
						p1 = my.Id,
						p2 = my.FrmId,
						p3 = RRId,
						p4 = rr.Psf,
						p5 = rr.Prd,
						p6 = rr!.Ad,
						p7 = rr.ISH,
						p8 = rr.RSD,
						p9 = rr.RPH,
						pq = rr.TskId,
						pb = rr.Inf,
						pc = rr.Del,
					},
					commandType: CommandType.StoredProcedure);

			await ModalIns.CloseAsync(ModalResult.Ok());
		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalWarning>(hata);
		}
	}

	protected override void OnInitialized()
	{
		//Modal.Show<ModalConfirm>("deneme");

		using var conn = db.GetConnection();
		ttd = conn.Query<TT>("TT_LU", new { FFId = my.FrmId }, commandType: CommandType.StoredProcedure).ToDictionary(k => k.Ad, e => e.Id);

		if (RRId == 0)
		{
			rr = new();
			return;
		}
		try
		{
			rr = conn.QuerySingle<RR>("RR_SEL",
					new { UsrId = my.Id, RRId = RRId },
					commandType: CommandType.StoredProcedure);

		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}


	private string Idf()
	{
		return RRId == 0 ? "yeni" : RRId.ToString("### ### ###");
	}

	public sealed class RR
	{
		public int RRId;
		public string? Ad;
		public int Psf;
		public bool isPsf
		{
			get => Psf == 1;
			set
			{
				Psf = value ? 1 : 0;
			}
		}
		public int UUId;
		public int Prd = 1; // Yıllık
		public int TskId;
		public string? TskAd;
		public int ISH = 1;     // RSDden Kaç saat önce Talep yaratılacak
		public int RPH = 1;     // Planlanan süre
		public DateTime? RSD = DateTime.Now.AddHours(1);
		public string? Inf;

		public int Del;
		public bool isDel
		{
			get => Del == 1;
			set
			{
				Del = value ? 1 : 0;
			}
		}
	}

	public sealed class TT
	{
		public int Id;
		public string Ad;
	}

}
