@inject AppState appState
@inject IDbCon db
@inject IModalService Modal

@if (tbl != null)
{
	<table >
		<caption>
			<button @onclick="@(() => ShowMdf(0))">
				<span class="material-symbols-outlined">
					add
				</span>
				Servisler
			</button>
		</caption>
		<tbody>
			<tr>
				<th>Id</th>
				<th>Ad</th>
			</tr>
			@foreach (var rec in tbl)
			{
				<tr>
					<td>
						<button @onclick="@(() => ShowMdf(rec.SSId))">
							<span class="material-symbols-outlined">
								edit
							</span>
							@rec.SSId
						</button>
					</td>
					<td>@rec.Ad</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<SS> tbl;
	ModalOptions options = new ModalOptions()
		{
			HideHeader = true,
			Size = ModalSize.Medium,
			Position = ModalPosition.Middle
		};

	public async Task ShowMdf(int id)
	{
		ModalParameters mp = new();
		mp.Add("SSId", id);

		var x = Modal.Show<SbjMdf>("", mp, options);
		var r = await x.Result;
		if (r.Confirmed)
		{
			await Read();
		}
	}

	private async Task Read()
	{
		try
		{
			using var conn = db.GetConnection();
			tbl = (await conn.QueryAsync<SS>("SS_QRY",
				new { a = appState.UsrId, b = appState.UsrFrmId }, // SP parametreleri DB deki sırasıyla gönderilmeli
				commandType: CommandType.StoredProcedure)
			).ToList();

			//Notifier.Notify += OnNotify;
		}
		catch (Exception ex)
		{
			var hata = ex.Message.Split("\r\n")[1];
			Modal.Show<ModalConfirm>(hata);
		}
	}

	protected override async Task OnInitializedAsync()
	{
		await Read();
	}


	public sealed class SS
	{
		public int SSId;
		public string? Ad;
	}
}

