@inject AppState my
@inject IDbCon db
@inject IModalService Modal

@if (tbl != null)
{
	<table>
		<caption>
			@if (Prv)
			{
				<span>Grup Tanım</span>
			}
			else
			{
				<button @onclick="@(() => ShowMdf(0))">
					<span class="material-symbols-outlined">add</span>Grup Tanım
				</button>
			}
		</caption>
		<tbody>
			<tr>
				<th>edit</th>
				<th>ad</th>
				<th>psf</th>
			</tr>
			@foreach (var rec in tbl)
			{
				<tr>
					<td>
						<button @onclick="@(() => ShowMdf(rec.SSId))">
							<span class="material-symbols-outlined">edit</span>
							<span style="font-size:.6rem;">@rec.SSId</span>
						</button>
					</td>
					<td>@rec.Ad</td>
					<td>
						<input type="checkbox" checked=@rec.isPsf onclick="return false" style="width:auto" />
					</td>

				</tr>
			}
		</tbody>
	</table>
}

@code {
	[Parameter] public bool Prv { get; set; }

	private List<SS> tbl;
	ModalOptions options = new ModalOptions()
		{
			HideHeader = true,
			Size = ModalSize.Large,
		};

	public async Task ShowMdf(int id)
	{
		ModalParameters mp = new();
		mp.Add("SSId", id);
		mp.Add("Prv", Prv);

		var x = Modal.Show<SrvMdf>("", mp);
		var r = await x.Result;
		if (r.Confirmed)
		{
			await Read();
		}
	}

	private async Task Read()
	{
		try
		{
			using var conn = db.GetConnection();
			tbl = (await conn.QueryAsync<SS>("SS_QRY",
				new { a = my.Id, b = my.FrmId, c = Prv ? 1 : 0 }, // SP parametreleri DB deki sırasıyla gönderilmeli
				commandType: CommandType.StoredProcedure)
			).ToList();

			//Notifier.Notify += OnNotify;
		}
		catch (Exception ex)
		{
			ModalParameters mp = new();
			mp.Add("Message", ex.Message);
			Modal.Show<ModalWarning>("", mp);
		}
	}

	protected override async Task OnInitializedAsync()
	{
		await Read();
	}


	public sealed class SS
	{
		public int SSId;
		public string? Ad;
		public int Psf;
		public bool isPsf => Psf == 1 ? true : false;
	}
}

