.hdr {
	font-weight: 600;
}
.bdy {
	text-align: left;
}
.lst {
	max-height: 50px;
	overflow: auto;
}
.req {
	background-color: var(--req-bgc);
}
.sbj {
	background-color: var(--sbj-bgc);
}
.tsk {
	background-color: var(--tsk-bgc);
}
.act {
	background-color: var(--act-bgc);
}
