.hdr {
	font-weight: 600;
	text-align: center;
}
.bdy {
	text-align: left;
}
.lst {
	max-height: 50px;
	overflow: auto;
}
.req {
	background-color: var(--req-bgc);
}
.Srv {
	background-color: var(--Srv-bgc);
}
.tsk {
	background-color: var(--tsk-bgc);
}
.act {
	background-color: var(--act-bgc);
}
