.ooBtnEdt, .ooBtnMsj {
	height: 2rem;
}

.ooCnt {
	display: grid;
	grid-template-columns: repeat(auto-fit, 340px);
	justify-content: center;
	gap: 1.5rem;
	min-width: 360px;
	margin-bottom: .5rem;
}

.ooCard {
	display: grid;
	/*gap: 2px;*/
	grid-template-rows: 44px 1fr 32px;
	grid-template-columns: 1fr;
	grid-template-areas:
		"ooHdr"
		"ooTbl"
		"ooFtr";
	background-color: azure;
	color: #444;
	outline: 1px solid gray;
	border-radius: 2px;
	box-shadow: 4px 4px 8px gray;
}

	.ooCard > ::before {
		display: block;
		color: var(--l-color);
		font-family: monospace;
		font-size: 0.6rem;
		/*border-bottom: thin solid;*/
		/*line-height: 1;*/
		/*background-color: white;*/
		/*opacity: .4;*/
	}

/* ColorStart */
.ooCard[data-CS="G"] {
	--sColor: var(--g-color);
}

	.ooCard[data-CS="G"] .ooS {
		color: var(--sColor)
	}

	.ooCard[data-CS="G"] .ooBtnS {
		/*display: none;*/
		visibility:hidden;
	}

/*.ooCard:is([data-CS="G"]):is([data-CF="G"]) .ooFtr {
	background-color: var(--g-color);
}*/

.ooCard[data-CS="R"] {
	--sColor: var(--r-color);
}

	.ooCard[data-CS="R"] .ooS {
		color: var(--sColor)
	}

.ooCard[data-CS="B"] {
	--sColor: var(--b-color);
}

	.ooCard[data-CS="B"] .ooS {
		color: var(--sColor)
	}

/* ColorFinsih */
.ooCard[data-CF="G"] {
	--fColor: var(--g-color);
}

	.ooCard[data-CF="G"] .ooF {
		color: var(--fColor)
	}

	.ooCard[data-CF="G"] .ooBtnF {
		/*display: none;*/
		visibility: hidden;
	}

.ooCard[data-CF="R"] {
	--fColor: var(--r-color);
}

	.ooCard[data-CF="R"] .ooF {
		color: var(--fColor)
	}

.ooCard[data-CF="B"] {
	--fColor: var(--b-color);
}

	.ooCard[data-CF="B"] .ooF {
		color: var(--fColor)
	}

.ooId {
	font-weight: 900;
	font-family: monospace;
	font-size: 1rem;
}

.ooBtnS,
.ooBtnOK,
.ooBtnCancel {
	color: var(--sColor);
}

.ooBtnF,
.ooBtnOK,
.ooBtnCancel {
	color: var(--fColor);
}

	.ooBtnS[disabled],
	.ooBtnF[disabled] {
		pointer-events: none;
		color: black;
		opacity: 0.5;
	}

.ooBtnS::before {
	content: "play_circle";
	font-family: 'Material Symbols Outlined';
	padding-right: 4px;
	font-size: inherit;
}

.ooBtnF::before {
	content: "stop_circle";
	font-family: 'Material Symbols Outlined';
	padding-right: 4px;
	font-size: inherit;
}

.ooBtnOK::before {
	content: "check_circle";
	font-family: 'Material Symbols Outlined';
	padding-right: 4px;
	font-size: inherit;
}

.ooBtnCancel::before {
	content: "cancel";
	font-family: 'Material Symbols Outlined';
	padding-right: 4px;
	font-size: inherit;
}

.ooCard .ooHdr {
	grid-area: ooHdr;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(90deg, var(--sColor) 10%, 50%, var(--fColor) 90%);
	color: white;
	padding: 0 4px;
}

.ooCard .ooHdrTxt {
	text-align: center;
	width: 100%;
}
	.ooCard .ooHdrTxt .ooSbj {
		border-bottom: 1px solid;
		border-image: linear-gradient(to right, var(--sColor), white 50%, var(--fColor)) 1;
	}

.ooCard .box {
	/*padding: 0 4px;*/
	padding: 0;
}

.ooCard .ooFtr {
	grid-area: ooFtr;
	background-color: gainsboro;
	color: black;
	padding: 0 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

	.ooCard .ooFtr > * {
		flex: 1;
		text-align: center;
	}

/*Footer section Hide*/
.ooCard[data-Stu="A"] .ooStuZ,
.ooCard[data-Stu="A"] .ooStuX {
	display: none;
}

.ooCard:[data-Stu="Z"] .ooStuX,
.ooCard:[data-Stu="Z"] .ooStuA {
	display: none;
}

.ooCard[data-Stu="X"] .ooStuZ,
.ooCard[data-Stu="X"] .ooStuA {
	display: none;
}

.ooCard[data-Stu="X"] {
	opacity: 0.5;
}

/*Input or Confirm*/
.ooCard[data-IoC="I"] .ooC {
	display: none;
}

.ooCard[data-IoC="C"] .ooI {
	display: none;
}

/*Start or Finish*/
.ooCard[data-SoF="S"] .ooTxtF {
	display: none;
}

.ooCard[data-SoF="F"] .ooTxtS {
	display: none;
}


button[data-Pin="0"].ooPin::after {
	content: "keep_off";
	font-family: 'Material Symbols Outlined';
}

button[data-Pin="1"].ooPin::after {
	content: "keep";
	font-family: 'Material Symbols Outlined';
}

button.ooCID::after {
	content: "link";
	font-family: 'Material Symbols Outlined';
	/*font-size: x-large;*/
}

button.ooCID:disabled {
	cursor: not-allowed;
	pointer-events: none;
}

	button.ooCID:disabled::after {
		content: "link_off";
		font-family: 'Material Symbols Outlined';
	}

.ooTbl {
	grid-area: ooTbl;
	font-size: .8rem;
}
	.ooTbl th,
	.ooTbl td
	{
		padding: 2px 0;
	}

.ooTrh th,
.ooTrh td {
	padding: 0 0 0 2px;
}

.ooInf {
	grid-area: ooInf;
	/*background-color: snow;*/
	/*overflow: auto;*/
	overflow: clip;
	overflow-wrap: break-word;
	white-space: break-spaces;
	min-height: 32px;
	max-height: 70px;
}

	.ooInf::before {
		content: "açıklama";
	}

.ooTsk {
	font-size: 1rem;
	padding-left: 4px !important;
}

.ooReq {
	font-size: 1rem;
	padding-left: 4px !important;
}

.ooRSD {
	grid-area: ooRSD;
	font-size: .8rem;
}

	.ooRSD::before {
		content: "istek başlangıç";
	}

.ooASD {
	grid-area: ooASD;
	font-size: .8rem;
}

	.ooASD::before {
		content: "gerçek başlangıç";
	}

.ooDSH {
	grid-area: ooDSH;
	text-align: center;
}

	.ooDSH::before {
		content: "± gecikme";
	}

.ooRFD {
	grid-area: ooRFD;
	font-size: .8rem;
}

	.ooRFD::before {
		content: "istek bitiş";
	}


.ooAFD {
	grid-area: ooAFD;
	font-size: .8rem;
}

	.ooAFD::before {
		content: "gerçek bitiş";
	}

.ooDFH {
	grid-area: ooDFH;
	text-align: center;
}

	.ooDFH::before {
		content: "± gecikme";
	}

.ooCard[data-Ytk="4"] .ooAct,
.ooCard[data-Ytk="5"] .ooReq,
.ooCard[data-Ytk="1"] .ooSbj,
.ooCard[data-Ytk="2"] .ooSbj
.ooCard[data-Ytk="3"] .ooSbj {
	font-weight: 600;
}

input[type="radio"] {
	width: auto !important;
	margin: 0;
}

/*@media (width < 600px) {
	.ooCnt {
		grid-template-columns: auto !important;
		justify-content: normal !important;
		gap: 8px !important;
		min-width: 500px;
	}

	.ooCard {*/
/*min-width: 500px;*/
/*display: grid;
		gap: 2px;
		grid-template-rows: auto;
		grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
		grid-template-areas:
			"ooReq ooTsk ooDSH ooDFH ooPin"
			"ooSbj ooAct ooDSH ooDFH ooPin";
		background-color: #fff;
		color: #444;
		outline: none;
		border-radius: 2px;
		box-shadow: 8px 4px 16px gray;
		align-items: center;
	}

		.ooCard > ::before {
			display: none;
		}

	.ooHdr, .ooFtr,
	.ooInf,
	.ooRSD, .ooASD, .ooRFD, .ooAFD {
		display: none !important;
	}

	.ooDSH, .ooDFH {
		justify-self: end;
	}

	button.ooPin {
		border: none;
	}
}*/

