.oeCard {
	display: flex;
	flex-direction: column;
	/*gap: 4px;*/
	outline: 1px solid gray;
	border-radius: 2px;
	box-shadow: 8px 4px 16px gray;
	margin-inline: auto;
	min-width: 340px;
	width: 340px;
	/*max-width: 50%;*/
}

	.oeCard .oeBox {
		margin: 0 4px;
	}

	.oeCard .oeHdr {
		height: 36px;
	}

	.oeCard .oeFtr {
		height: 36px;
	}

.oeHdr {
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	/*gap: 8px;*/
	padding: 0 4px;
	background-color: gainsboro;
	color: black;
}

	.oeHdr > * {
		flex: 1;
		text-align: center;
	}

.oeFtr {
	background-color: gainsboro;
	color: teal;
	font-size: 1rem;
	padding: 0 4px;
	/*display: flex;*/
	display: none;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

	.oeFtr > * {
		flex: 1;
		text-align: center;
	}

.oeBdy {
	display: grid;
	gap: 2px;
	padding: 8px 0;
	/*grid-template-rows: repeat(3, 32px) 1fr repeat(3, 32px);*/
	grid-auto-rows: minmax(36px,auto);
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
		"oeStu oeStu oeStu oeChn"
		"oeReq oeReq oeReq oeReq"
		"oeTsk oeTsk oeTsk oeTsk"
		"oeSbj oeSbj oeSbj oeSbj"
		"oeAct oeAct oeAct oeAct"
		"oeRSD oeRSD oeASD oeASD"
		"oeRFD oeRFD oeAFD oeAFD"
		"oeRf1 oeRf1 oeRf2 oeRf2"
		"oeInf oeInf oeInf oeInf";
	background-color: #fff;
	color: #444;
}


	.oeBdy > ::before {
		display: block;
		color: var(--l-color);
		font-family: monospace;
		font-size: 0.6rem;
		/*border-bottom: thin solid;*/
		/*line-height: 1;*/
		background-color: white;
		/*margin-bottom: 4px;*/
	}

	.oeBdy input,
	.oeBdy textarea {
		background-color: azure;
		font-size: inherit;
		font-family: inherit;
		border-style: inset;
		border-width: thin;
		width: 100%;
	}

	.oeBdy textarea {
		max-height: 50vh;
		height: 96px;
		resize: vertical;
	}

		.oeBdy textarea:focus,
		.oeBdy input:focus {
			background-color: aqua;
			/*border-style: inset;*/
			/*border-width: thin;*/
			outline: none;
		}

		.oeBdy textarea:focus {
			background-color: aqua;
			/*border-style: inset;*/
			/*border-width: thin;*/
			outline: none;
		}

.oeStu {
	grid-area: oeStu;
}

	.oeStu::before {
		content: "Durum";
	}

.oeChn {
	grid-area: oeChn;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--l-color);
}

/*.oeChn::after {
		content: "link";
		font-family: 'Material Symbols Outlined';
		font-size: x-large;
	}*/

.oePin {
	grid-area: oePin;
	justify-self: center;
}

.oeReq {
	grid-area: oeReq;
}

	.oeReq::before {
		content: "🙋gönderen kişi";
	}

.oeTsk {
	grid-area: oeTsk;
}

	.oeTsk::before {
		content: "📝konu";
	}

.oeSbj {
	grid-area: oeSbj;
}

	.oeSbj::before {
		content: "⚓gönderilen birim";
	}

.oeAct {
	grid-area: oeAct;
}

	.oeAct::before {
		content: "🧍gönderilen birimdeki kişi";
	}

	
.oeInf {
	grid-area: oeInf;
	background-color: snow;
	overflow: auto;
	/*min-height: 32px;*/
	/*max-height: 100px;*/
}

	.oeInf::before {
		content: "açıklama";
	}

.oeRf1 {
	grid-area: oeRf1;
}

	.oeRf1::before {
		content: "ref1";
	}

.oeRf2 {
	grid-area: oeRf2;
}

	.oeRf2::before {
		content: "ref2";
	}

.oeRSD {
	grid-area: oeRSD;
}

	.oeRSD::before {
		content: "planlanan başlangıç";
	}

.oeASD {
	grid-area: oeASD;
}

	.oeASD::before {
		content: "gerçekleşen başlangıç";
	}


.oeDSH {
	grid-area: oeDSH;
	text-align: center;
}

	.oeDSH::before {
		content: "± sapma";
	}


.oeRFD {
	grid-area: oeRFD;
}

	.oeRFD::before {
		content: "planlanan bitiş";
	}


.oeAFD {
	grid-area: oeAFD;
}

	.oeAFD::before {
		content: "gerçekleşen bitiş";
	}


.oeDFH {
	grid-area: oeDFH;
	text-align: center;
}

	.oeDFH::before {
		content: "± sapma";
	}


.oeTsk[data-RO="1"] {
	pointer-events: none;
}


.oeBtnClone::before {
	content: "content_copy";
	font-family: 'Material Symbols Outlined';
}

.oeBtnNew::before {
	content: "add";
	font-family: 'Material Symbols Outlined';
}

.oeBtnCancel::before {
	content: "close";
	font-family: 'Material Symbols Outlined';
	padding-right: 4px;
	font-size: 1.5rem;
}

.oeBtnSave::before {
	content: "check";
	font-family: 'Material Symbols Outlined';
	padding-right: 4px;
	font-size: 1.5rem;
}

.oeBtnSave:disabled {
	pointer-events: none;
}

@media (width > 572px) {
	.oeCard {
		min-width: 500px;
	}

	/*.oeBdy {
		grid-template-areas:
			"oeStu oeChn"
			"oeReq oeReq"
			"oeSbj oeSbj"
			"oeTsk oeTsk"
			"oeAct oeAct"
			"oeRSD oeASD"
			"oeRFD oeAFD"
			"oeInf oeInf";
	}*/
}
