@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<CascadingBlazoredModal Position="ModalPosition.Middle" @rendermode="new InteractiveServerRenderMode(prerender: false)" />
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="10"
				@rendermode="new InteractiveServerRenderMode(prerender: false)" />
@* </CascadingBlazoredModal> *@
@* <NavMenu UsrTkn="@_usrTkn" @rendermode="new InteractiveServerRenderMode(prerender: false)" /> *@

<div class="pge">
	<NavMenu UsrTkn="@_usrTkn"> </NavMenu>
	<div class="bdy">
		@Body
	</div>
</div>

<div id="blazor-error-ui" data-nosnippet>
	An unhandled error has occurred.
	<a href="." class="reload">Reload</a>
	<span class="dismiss">🗙</span>
</div>

@code
{
	[CascadingParameter] public HttpContext? context { get; set; }
	public string? _usrTkn { get; set; }

	protected override void OnInitialized()
	{
		if (context is not null)
		{
			_usrTkn = context.Request.Cookies["hadisene"];

			if (_usrTkn is null)
			{
				_usrTkn = Guid.NewGuid().ToString("N"); // Guest
			}
			CookieOptions co = new CookieOptions();
			co.Secure = false;
			co.HttpOnly = true;
			co.SameSite = SameSiteMode.Strict;
			//co.MaxAge = TimeSpan.FromMinutes(1); // Bitis suresi belirtilmediginde sessionCookie oluyor
			co.MaxAge = TimeSpan.FromDays(30); // Bitis suresi belirtilmediginde sessionCookie oluyor
			context.Response.Cookies.Append("hadisene", _usrTkn, co);
		}
	}
}
