@page "/usrlogin"
@inject NavigationManager navigationManager
@inject IDbCon db
@inject NotifierService Notifier

<h3>UsrLogin</h3>
<EditForm Model="@Model" OnSubmit="@Submit" FormName="Starship1">
	<table width="200px" class="m-auto">
		<tbody>
			<tr>
				<td class="border border-slate-300 text-right px-2">ID</td>
				<td class="border border-slate-300 text-right px-2"><InputNumber @bind-Value="Model.Id" /></td>
			</tr>
			<tr>
				<td class="border border-slate-300 text-right px-2">PWD</td>
				<td class="border border-slate-300 text-right px-2"><InputText @bind-Value="Model.Pwd" /></td>
			</tr>
			<tr>
				<td colspan="2" class="border border-slate-300 text-center"><button type="submit" class="bg-indigo-500 text-white rounded px-2 py-1">Submit</button></td>
			</tr>
		</tbody>
	</table>
</EditForm>

@code {
	[CascadingParameter]
	public HttpContext? context { get; set; }

	[SupplyParameterFromForm]
	public LgnMdl? Model { get; set; }

	private async Task Submit()
	{
		var usrTkn = context?.Request.Cookies["hadisene"];
		using var conn = db.GetConnection();
		int uuId = conn.ExecuteScalar<int>("USR_LOGIN",
			new { a = Model!.Id, b = Model.Pwd, c = usrTkn },
			commandType: CommandType.StoredProcedure);

		if (uuId > 0)
		{
			NotifyArgs notifyArgs = new()
				{
					UsrTkn = usrTkn,
				};
			await Notifier.Invoke("UsrLogIn", notifyArgs);
			//navigationManager.NavigateTo("");
		}
	}

	protected override void OnInitialized()
	{
		Model ??= new();
	}

	public class LgnMdl
	{
		public int Id { get; set; } = 0;
		public string? Pwd { get; set; }
		public string? Tkn { get; set; }
	}
}
